<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">Dividendenplaner</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul *ngIf="auth.state" class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/dashboard/{{auth.getUid()}}">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/depotverwaltung/{{auth.getUid()}}">Depotverwaltung</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="https://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="cursor: pointer" (click)="onLogout()">Logout</a>
      </li>
    </ul>
    <form [className]="(auth.state!==null) ? 'form-inline my-2 my-lg-0' : 'none'" [formGroup]="searchForm">
      <input class="form-control mr-sm-2" type="text" placeholder="Nach Symbol suchen"
            id="symbolSearch" name="symbolSearch" formControlName="search"  aria-label="Search" #searchvalue>
      <button class="btn btn-outline-success my-2 my-sm-0" type="button" (click)="onSearch(searchvalue.value)">Search</button>
    </form>
  </div>
</nav>
<!-- Modal -->
<div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Keine Aktie gefunden</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Es konnte keine Aktie eines Unternehmens mit dem Namen: "{{searchvalue.value}}" gefunden werden.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>
